.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #253333;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #56D2D5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #253333;
    font-size: 16px;
    height: 30px;
    background-color: #131A1A;
    color: #fff;
    outline: none;
    padding-left: 10px;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #253333;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #DD1A1A;
  }
}

& p {
  color: #fff;
  font-weight: bold;

  & span {
    font-weight: normal;
  }
}

& button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
